Django
djangorestframework
django-cors-headers
gunicorn
firebase-admin
google-cloud-storage
google-generativeai
google-cloud-translate
google-cloud-texttospeech
numpy
requests
Pillow
python-dotenv
Flask
replicate
groq